<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acg12.lib">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <meta-data
            android:name="com.acg12.lib.utils.loadimage.GlideCache"
            android:value="GlideModule" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialSheetFab.SwipeBackLayout" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialSheetFab.SwipeBackLayout" />
        <activity
            android:name=".ui.activity.ResetPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialSheetFab.SwipeBackLayout" />

    </application>

</manifest>
